= 'El nombre:'
= @enterprise.name
%br
= 'Dirección:'
= @enterprise.address
%br
= 'Representante Legal:'
= @enterprise.legal_representative
%br
= 'Número de Teléfono:'
= @enterprise.phone_number
%br
= 'Nivel de sociedad:'
= @enterprise.level